<div style="text-align: right;">
    <div style="background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(52,53,54,1) 100%);">
        <a routerLink="login"><span>Login <i class="far fa-user"></i></span></a>
    </div>
</div>
<nav style="padding:0px;background: black !important; border-bottom:1px solid #ddd;color:white;" class="navbar navbar-expand-lg navbar-light bg-light">
    <a style="width: 15%;" class="navbar-brand a_logo_navbar" href="#"><img style="width: 40%;
        margin-left: 20%;" src="assets/img/adidas.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="home">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="hombres">HOMBRES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">MUJERES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">NIÑOS</a>
            </li>
        </ul>
    </div>
    <form style="margin-right: 1%;overflow: hidden;" class="form-inline form_search_navbar">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>