<div style="padding:5%">
    <div style="font-size:2em;font-weight:bold;margin-bottom:1%;">
        <span>{{ofertas.titulo}}</span>
    </div>
    <div style="margin-bottom:1%;">
        <span>{{ofertas.descripcion}}</span>
    </div>
    <a href="#" class="gl-cta gl-cta--primary" title="COMPRAR AHORA" manual_cm_sp="SLOT-1-_-?_?_?_?_?-_-?-_-332068">
        <span class="gl-cta__text">
            COMPRAR AHORA <i class="fas fa-arrow-circle-right"></i>
        </span>
    </a>
</div>
<div class="row">
    <div class="col-md-3">
        <a href="">ZAPATILLAS</a>
    </div>
    <div class="col-md-3">
        <a href="">ZAPATILLAS</a>
    </div>
    <div class="col-md-3">
        <a href="">ZAPATILLAS</a>
    </div>
</div>